In [1]:
#Importing Libraries !!
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split  
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report
from sklearn import metrics
from sklearn import tree
from sklearn.tree import export_graphviz

import matplotlib.pyplot as plt  
%matplotlib inline
import seaborn as sn

import scipy.stats.stats as stats


from sklearn.model_selection import GridSearchCV  


# import scikitplot as skplt
import pickle
from sklearn.externals import joblib

from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler
# from imblearn.over_sampling import SMOTEENN

from imblearn import under_sampling, over_sampling, combine

Using TensorFlow backend.

In [2]:
df1=pd.read_csv("state_wise_daily.csv",parse_dates=[0])

In [3]:
df1 = df1.melt(id_vars=['Date','Status'])

In [4]:
df1 = df1.rename(columns = {"variable" : "State", "value" : "Cases"})

In [5]:
df2 = df1.sort_values(by=['Date', 'Status'])

In [6]:
df3=df2[df2["Status"]=="Confirmed"]
df3 = df3[df3["State"] != "TT"]

In [7]:
df3 = df3.rename(columns = {"Cases" : "n_Confirmed"})
df3 = df3[["Date","State","n_Confirmed"]]

In [144]:
df3.to_csv("cases.csv")

In [8]:
df4 = df2[df2["Status"]=="Deceased"]
df4 = df4[df4["State"] != "TT"]

df4 = df4.rename(columns = {"Cases" : "n_Deceased"})
df4 = df4[["Date","State","n_Deceased"]]

In [14]:
df5 = df2[df2["Status"]=="Recovered"]
df5 = df5[df5["State"] != "TT"]

df5 = df5.rename(columns = {"Cases" : "n_Recovered"})
df5 = df5[["Date","State","n_Recovered"]]

In [15]:
df6 = pd.merge(df3, df4, how = "left", left_on=["Date","State"], right_on = ["Date","State"])

In [16]:
df7 = pd.merge(df6, df5, how = "left", left_on=["Date","State"], right_on = ["Date","State"])

In [18]:
df8 = df7[["n_Confirmed", "n_Deceased", "n_Recovered"]]

In [19]:
df8 = df8.cumsum()

In [20]:
df8 = df8.rename(columns = {"n_Confirmed" : "Cum_Confirmed", "n_Deceased" : "Cum_Deceased", "n_Recovered" : "Cum_Recovered"} )

In [21]:
df8 = pd.concat([df7, df8], axis=1)

In [22]:
df8["n_Active"] = df8.Cum_Confirmed - df8.Cum_Deceased -df8.Cum_Recovered

In [25]:
df22=df8
df23 =df8
df23["perc_Active"] = df22.n_Active/df22.Cum_Confirmed
df23["perc_Deceased"] = df22.Cum_Deceased/df22.Cum_Confirmed
df23["perc_Recovered"] = df22.Cum_Recovered/df22.Cum_Confirmed

In [26]:
df24=df8
df24["State_Cum_Confirmed"] = df23.groupby("State")["n_Confirmed"].cumsum()
df24["State_Cum_Deceased"] = df23.groupby("State")["n_Deceased"].cumsum()
df24["State_Cum_Recovered"] = df23.groupby("State")["n_Recovered"].cumsum()
df24["State_n_Active"] = df24.State_Cum_Confirmed - df24.State_Cum_Deceased - df24.State_Cum_Recovered
df24["State_perc_Active"] = df22.State_n_Active/df22.State_Cum_Confirmed
df24["State_perc_Deceased"] = df22.State_Cum_Deceased/df22.State_Cum_Confirmed
df24["State_perc_Recovered"] = df22.State_Cum_Recovered/df22.State_Cum_Confirmed

In [27]:
district=pd.read_csv("districts.csv",parse_dates=[0])
tier_data = pd.read_csv("Tier_Data.csv")

In [28]:
district_data = pd.merge(district, tier_data, how = "left", left_on=["State", "District"], right_on = ["State", "District"])

In [29]:
district_data_summ1 = pd.pivot_table(district_data, values = ["Confirmed","Deceased","Recovered"], index = ["Date", "State_Code"], columns = ["Tier"], aggfunc = np.sum)

In [30]:
district_data_summ1.columns =[s1 + str(s2) for (s1,s2) in district_data_summ1.columns.tolist()]

In [31]:
district_data_summ1.reset_index(inplace=True)

In [32]:
df25 = pd.merge(df24, district_data_summ1, how = "left", left_on=["Date", "State"], right_on = ["Date", "State_Code"])

In [33]:
df26 = df25.drop('State_Code', axis=1)

In [34]:
df27 = df26.replace(r'^\s*$', np.nan, regex=True)
df27.update(df27[["n_Confirmed","n_Deceased","n_Recovered","Cum_Confirmed","Cum_Deceased","Cum_Recovered","n_Active","perc_Active","perc_Deceased","perc_Recovered","State_Cum_Confirmed","State_Cum_Deceased","State_Cum_Recovered","State_n_Active","State_perc_Active","State_perc_Deceased","State_perc_Recovered","Confirmed Tier-1 ","Confirmed Tier-2 ","Confirmed Tier-3 ","Deceased Tier-1 ","Deceased Tier-2 ","Deceased Tier-3 ","Recovered Tier-1 ","Recovered Tier-2 ","Recovered Tier-3 "]].fillna(0))

In [35]:
df28 = df27.rename(columns = {"Confirmed Tier-1 " : "State_Cum_Confirmed_Tier1","Confirmed Tier-2 ": "State_Cum_Confirmed_Tier2","Confirmed Tier-3 ": "State_Cum_Confirmed_Tier3"
                             , "Deceased Tier-1 " : "State_Cum_Deceased_Tier1","Deceased Tier-2 ":"State_Cum_Deceased_Tier2","Deceased Tier-3 ":"State_Cum_Deceased_Tier2"
                             , "Recovered Tier-1 ": "State_Cum_Recovered_Tier1","Recovered Tier-2 ":"State_Cum_Recovered_Tier2","Recovered Tier-3 ":"State_Cum_Recovered_Tier3"}, inplace=True)

In [36]:
# df27.to_csv("df27.csv")

In [37]:
df27=df27.sort_values(by=['State','Date'], ascending=True)

In [38]:
df27.reset_index(inplace=True,drop=True)

In [39]:
df27["n_Confirmed_d_1"]=df27.groupby(['State'])['n_Confirmed'].shift(1)
df27["n_Confirmed_d_2"]=df27.groupby(['State'])['n_Confirmed'].shift(2)
df27["n_Confirmed_d_3"]=df27.groupby(['State'])['n_Confirmed'].shift(3)
df27["n_Confirmed_d_4"]=df27.groupby(['State'])['n_Confirmed'].shift(4)
df27["n_Confirmed_d_5"]=df27.groupby(['State'])['n_Confirmed'].shift(5)
df27["n_Confirmed_d_6"]=df27.groupby(['State'])['n_Confirmed'].shift(6)
df27["n_Confirmed_d_7"]=df27.groupby(['State'])['n_Confirmed'].shift(7)
df27["n_Confirmed_d_8"]=df27.groupby(['State'])['n_Confirmed'].shift(8)
df27["n_Confirmed_d_9"]=df27.groupby(['State'])['n_Confirmed'].shift(9)
df27["n_Confirmed_d_10"]=df27.groupby(['State'])['n_Confirmed'].shift(10)
df27["n_Confirmed_d_11"]=df27.groupby(['State'])['n_Confirmed'].shift(11)
df27["n_Confirmed_d_12"]=df27.groupby(['State'])['n_Confirmed'].shift(12)
df27["n_Confirmed_d_13"]=df27.groupby(['State'])['n_Confirmed'].shift(13)
df27["n_Confirmed_d_14"]=df27.groupby(['State'])['n_Confirmed'].shift(14)
df27["n_Confirmed_d_15"]=df27.groupby(['State'])['n_Confirmed'].shift(15)
df27["n_Confirmed_d_16"]=df27.groupby(['State'])['n_Confirmed'].shift(16)
df27["n_Confirmed_d_17"]=df27.groupby(['State'])['n_Confirmed'].shift(17)
df27["n_Confirmed_d_18"]=df27.groupby(['State'])['n_Confirmed'].shift(18)
df27["n_Confirmed_d_19"]=df27.groupby(['State'])['n_Confirmed'].shift(19)
df27["n_Confirmed_d_20"]=df27.groupby(['State'])['n_Confirmed'].shift(20)
df27["n_Confirmed_d_21"]=df27.groupby(['State'])['n_Confirmed'].shift(21)
df27["n_Confirmed_d_22"]=df27.groupby(['State'])['n_Confirmed'].shift(22)
df27["n_Confirmed_d_23"]=df27.groupby(['State'])['n_Confirmed'].shift(23)
df27["n_Confirmed_d_24"]=df27.groupby(['State'])['n_Confirmed'].shift(24)
df27["n_Confirmed_d_25"]=df27.groupby(['State'])['n_Confirmed'].shift(25)
df27["n_Confirmed_d_26"]=df27.groupby(['State'])['n_Confirmed'].shift(26)
df27["n_Confirmed_d_27"]=df27.groupby(['State'])['n_Confirmed'].shift(27)
df27["n_Confirmed_d_28"]=df27.groupby(['State'])['n_Confirmed'].shift(28)
df27["n_Confirmed_d_29"]=df27.groupby(['State'])['n_Confirmed'].shift(29)
df27["n_Confirmed_d_30"]=df27.groupby(['State'])['n_Confirmed'].shift(30)

df27["n_Confirmed_d+1"]=df27.groupby(['State'])['n_Confirmed'].shift(-1)
df27["n_Confirmed_d+2"]=df27.groupby(['State'])['n_Confirmed'].shift(-2)
df27["n_Confirmed_d+3"]=df27.groupby(['State'])['n_Confirmed'].shift(-3)
df27["n_Confirmed_d+4"]=df27.groupby(['State'])['n_Confirmed'].shift(-4)
df27["n_Confirmed_d+5"]=df27.groupby(['State'])['n_Confirmed'].shift(-5)
df27["n_Confirmed_d+6"]=df27.groupby(['State'])['n_Confirmed'].shift(-6)
df27["n_Confirmed_d+7"]=df27.groupby(['State'])['n_Confirmed'].shift(-7)
df27["n_Confirmed_d+8"]=df27.groupby(['State'])['n_Confirmed'].shift(-8)
df27["n_Confirmed_d+9"]=df27.groupby(['State'])['n_Confirmed'].shift(-9)
df27["n_Confirmed_d+10"]=df27.groupby(['State'])['n_Confirmed'].shift(-10)
df27["n_Confirmed_d+11"]=df27.groupby(['State'])['n_Confirmed'].shift(-11)
df27["n_Confirmed_d+12"]=df27.groupby(['State'])['n_Confirmed'].shift(-12)
df27["n_Confirmed_d+13"]=df27.groupby(['State'])['n_Confirmed'].shift(-13)
df27["n_Confirmed_d+14"]=df27.groupby(['State'])['n_Confirmed'].shift(-14)
df27["n_Confirmed_d+15"]=df27.groupby(['State'])['n_Confirmed'].shift(-15)
df27["n_Confirmed_d+16"]=df27.groupby(['State'])['n_Confirmed'].shift(-16)
df27["n_Confirmed_d+17"]=df27.groupby(['State'])['n_Confirmed'].shift(-17)
df27["n_Confirmed_d+18"]=df27.groupby(['State'])['n_Confirmed'].shift(-18)
df27["n_Confirmed_d+19"]=df27.groupby(['State'])['n_Confirmed'].shift(-19)
df27["n_Confirmed_d+20"]=df27.groupby(['State'])['n_Confirmed'].shift(-20)
df27["n_Confirmed_d+21"]=df27.groupby(['State'])['n_Confirmed'].shift(-21)

In [40]:
variables = ['n_Deceased', 'n_Recovered',
       'Cum_Confirmed', 'Cum_Deceased', 'Cum_Recovered', 'n_Active',
       'perc_Active', 'perc_Deceased', 'perc_Recovered', 'State_Cum_Confirmed',
       'State_Cum_Deceased', 'State_Cum_Recovered', 'State_n_Active',
       'State_perc_Active', 'State_perc_Deceased', 'State_perc_Recovered',
       'State_Cum_Confirmed_Tier1', 'State_Cum_Confirmed_Tier2',
       'State_Cum_Confirmed_Tier3', 'State_Cum_Deceased_Tier1',
       'State_Cum_Deceased_Tier2', 'State_Cum_Deceased_Tier2',
       'State_Cum_Recovered_Tier1', 'State_Cum_Recovered_Tier2',
       'State_Cum_Recovered_Tier3']

In [ ]:
for i in variables:
    for y in range(1,31):
        var=str(i)+"_"+str(y)
        df27[var]=df27.groupby(['State'])[i].shift(y)

In [42]:
df27.shape

(5244, 679)

In [43]:
df27=df27.drop(variables, axis=1)

In [44]:
df27=df27.drop("n_Confirmed",axis=1)

In [118]:
df27.shape

(5244, 653)

In [119]:
# pd.DataFrame(df27.columns).to_csv("columns.csv")

In [120]:
# df27.to_csv("train_data.csv")

In [121]:
train_data=df27[df27["Date"]>="2020-05-01"]
train_data=train_data[train_data["Date"]<"2020-07-08"]

In [122]:
Ys=['n_Confirmed_d+1',
'n_Confirmed_d+2',
'n_Confirmed_d+3',
'n_Confirmed_d+4',
'n_Confirmed_d+5',
'n_Confirmed_d+6',
'n_Confirmed_d+7',
'n_Confirmed_d+8',
'n_Confirmed_d+9',
'n_Confirmed_d+10',
'n_Confirmed_d+11',
'n_Confirmed_d+12',
'n_Confirmed_d+13',
'n_Confirmed_d+14',
'n_Confirmed_d+15',
'n_Confirmed_d+16',
'n_Confirmed_d+17',
'n_Confirmed_d+18',
'n_Confirmed_d+19',
'n_Confirmed_d+20',
'n_Confirmed_d+21'
]

In [123]:
Y=train_data[Ys]
X=train_data.drop(Ys, axis=1)
X=X.drop(["Date","State"], axis=1)

### XGB

In [124]:
from sklearn.multioutput import MultiOutputRegressor

In [125]:
from xgboost import XGBRegressor

In [126]:
wrapper = MultiOutputRegressor(XGBRegressor(n_estimators=200,max_depth=2))

In [127]:
wrapper.fit(X, Y)

[21:38:52] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:39:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:39:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:39:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:39:52] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:40:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:40:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:40:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:40:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:41:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:41:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:41:37] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:41:52] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:42:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:42:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:42:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:42:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:43:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:43:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:43:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:43:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

MultiOutputRegressor(estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            importance_type='gain',
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=2, min_child_weight=1,
                                            missing=None, n_estimators=200,
                                            n_jobs=1, nthread=None,
                                            objective='reg:linear',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1),
                     n_jobs=None)

## Predictions

In [128]:
predict_data=df27[df27["Date"]=="2020-07-29"]
predict_X=predict_data.drop(Ys,axis=1)
predict_X=predict_X.drop(["Date","State"], axis=1)

In [129]:
predict_Y=wrapper.predict(predict_X)

In [130]:
predict_dates=pd.date_range("07-30-2020", "08-19-2020")

In [131]:
Predictions=pd.DataFrame(data=predict_Y, index=predict_data["State"],columns=predict_dates)

In [132]:
Predictions

,2020-07-30,2020-07-31,2020-08-01,2020-08-02,2020-08-03,2020-08-04,2020-08-05,2020-08-06,2020-08-07,2020-08-08,...,2020-08-10,2020-08-11,2020-08-12,2020-08-13,2020-08-14,2020-08-15,2020-08-16,2020-08-17,2020-08-18,2020-08-19
State,,,,,,,,,,,,,,,,,,,,,
AN,20.435537,-17.619904,-137.666275,87.099541,-58.648155,53.427227,79.284676,106.815849,171.255844,58.624268,...,59.382790,27.545399,30.047941,51.409027,43.379269,50.691246,46.127518,-551.648376,47.867001,82.795937
AP,3425.982910,3107.333984,2598.490723,3010.917480,3323.386475,3304.681396,2873.196289,2939.127197,3445.666260,3811.210693,...,4850.651367,5732.716797,5593.375977,6098.499512,7466.567871,8149.505859,8894.184570,7614.767578,7808.497070,7556.787598
AR,59.524708,26.656143,-99.680458,100.438866,-17.488930,88.166130,128.311310,129.152252,210.926468,94.494209,...,92.370804,101.859604,87.233391,117.567741,95.913071,125.190285,97.167725,-494.478607,94.649261,140.539474
AS,1593.375854,1761.163330,1434.629517,1684.186401,1787.781494,1921.081909,1942.170898,2113.657227,2583.449951,2115.939697,...,2027.573975,2332.839844,1938.259399,2850.081543,3384.978271,3552.424316,3531.181885,3649.545166,4960.138184,5571.786621
BR,2054.245117,1961.051880,1881.716797,2061.740479,2334.236816,2239.480225,2517.212402,2625.119385,2777.476807,2735.180176,...,3012.928711,3761.391602,3563.159912,4157.653809,5470.176270,5950.958984,6258.013184,5798.299316,6114.643066,5695.247070
CH,32.377346,-16.430252,-126.074097,110.993874,-43.891029,62.851742,111.775360,137.070465,208.271042,76.207848,...,87.678520,79.986839,74.277039,88.805115,95.665733,100.601089,98.781021,-502.028290,124.514214,128.564148
CT,362.207947,433.046936,134.418930,451.103271,378.443695,426.479401,434.656250,573.380188,808.806213,584.911743,...,602.246826,617.744629,632.524414,786.852356,769.475464,812.707642,768.504761,270.515991,946.786438,1584.270874
DD,0.248157,-34.383480,-159.356140,57.820122,-77.962204,30.737164,60.323593,72.629593,153.680847,39.086983,...,19.814322,7.471912,6.127644,29.313725,16.798304,35.438347,21.162170,-623.840393,16.464619,51.593655
DL,1657.148438,1650.118042,1707.589966,1718.274902,1529.434692,1612.839722,1887.456299,2602.213135,2493.184570,2908.288818,...,2356.482178,3119.386475,2076.298340,2745.574463,2074.653564,2672.936768,2237.906982,1864.634888,1822.891479,2062.101807
DN,34.451252,0.503082,-127.297714,97.075020,-44.427826,64.964432,105.568176,132.171249,204.639664,97.274727,...,98.774498,76.821350,66.821205,112.694160,80.640305,107.957733,74.723625,-514.366638,85.496147,107.130402
GA,214.433548,205.090469,27.444683,254.604401,213.447189,333.198730,312.925079,358.810181,461.657349,395.050842,...,441.001068,498.719238,565.353638,540.822998,582.729431,644.123901,717.867981,31.945097,816.111816,1189.919312
GJ,1663.470581,1625.561646,1683.589722,2634.375977,1940.017578,2341.299561,2860.074219,2652.908936,3378.830078,2617.379639,...,2767.616699,2887.003906,2925.893066,3834.539551,4380.826660,4392.533203,4644.212891,4625.638184,4946.407715,5407.881348
HP,89.324120,81.186119,-61.556026,164.885803,49.061298,129.056961,169.749039,227.025589,283.432861,189.914093,...,227.950714,215.759445,274.156799,288.680695,283.988739,281.769043,345.950531,-253.040894,325.709290,409.570496
HR,885.219543,967.180420,778.742249,1018.690002,1120.136841,1451.659546,1609.295898,1638.499268,1898.816284,1810.330200,...,2031.866577,2566.816895,2456.444092,2587.156494,2695.196289,2963.680908,3401.943359,2781.143555,3356.903564,3460.404297
JH,671.521851,551.239258,432.522430,670.951538,562.517883,840.148193,1001.862122,998.393494,993.581970,933.924988,...,839.014526,1312.755371,1120.018799,1281.194336,1224.652222,1325.480591,1469.441528,1122.393921,2371.629395,2863.990967
JK,732.130554,673.663574,507.220062,812.896606,954.051208,1175.153076,1079.527222,1248.505615,1270.199097,1090.636597,...,1118.380859,1306.317993,1098.818726,1608.661987,1747.364136,1565.815186,1743.539551,1448.933960,2227.678711,2182.798584
KA,3441.638428,3472.108887,3072.674316,3335.641113,3188.937988,3582.356689,3475.238770,3748.370117,4538.999023,4617.996094,...,4716.079590,5098.052734,4757.433105,5599.638184,6335.420898,6424.591797,7078.497070,6590.813477,6596.630859,6867.982910
KL,1177.123047,1172.003540,1041.184692,1512.526855,1399.017456,1274.499390,1589.914673,1599.393066,2372.112793,2287.088623,...,2787.265869,3095.758789,3261.785400,3965.822266,5185.773926,6063.342773,5809.677246,5148.964355,6179.434082,6544.415527
LA,34.288975,16.061768,-109.699684,120.928352,-13.665247,96.375214,138.365387,167.302048,231.594559,145.484146,...,196.514359,167.750961,204.878174,222.705536,238.219666,237.631744,262.516907,-325.511414,245.359482,277.604950
LD,0.248157,-34.383480,-159.356140,57.820122,-77.962204,33.699574,60.323593,72.629593,153.680847,39.086983,...,19.814322,7.471912,6.127644,29.313725,27.095011,35.438347,21.162170,-623.840393,16.464619,51.593655
MH,6182.604980,6243.775391,6682.166992,7520.131348,7416.223145,7179.069336,7280.301270,7802.360352,8324.181641,8102.635742,...,8368.364258,8675.877930,8309.855469,9284.513672,8981.118164,9172.308594,8839.481445,8928.181641,9071.376953,8778.075195
ML,25.384756,-2.846373,-133.632233,84.466423,-50.797794,68.146576,91.580521,114.056870,187.006790,67.358086,...,86.387810,56.044205,44.859184,68.652702,79.300400,89.903343,65.785805,-467.217255,147.978836,110.608200
MN,50.036526,40.659428,-95.063957,134.618073,-6.011010,98.145996,131.535843,172.288162,243.219208,167.697067,...,212.116440,197.279755,196.534485,277.915253,259.979797,301.274475,334.813904,-315.314301,342.045349,338.024780
MP,725.230957,771.195679,567.568665,825.504822,828.332336,1153.873901,1167.954834,1295.090210,1779.374634,1475.554321,...,1414.983032,1548.890747,1471.564819,1841.549927,2010.715454,2455.789307,2447.203613,1919.252441,2612.024170,3075.829590
MZ,16.608648,-17.619904,-138.430328,80.118820,-60.113739,50.278896,79.284676,92.391525,172.864548,58.624268,...,57.020351,26.994404,22.703381,42.861557,27.807726,44.320038,39.404507,-601.232483,43.329159,87.256126
NL,51.224915,7.007249,-124.137383,94.047798,-39.079845,78.888939,90.788818,118.158028,193.744217,83.533714,...,82.308044,56.252708,73.236366,89.284546,85.639313,101.627968,82.709038,-533.908875,97.345932,129.168427
OR,1771.178467,1798.729248,1558.039917,2118.612061,1947.714478,1852.617798,2287.032959,2176.473389,3016.526367,2893.996338,...,3014.738037,3369.597168,3765.981201,4153.668457,5230.968750,5706.829590,6014.145020,5692.351074,5813.106934,6130.597168
PB,535.635803,672.016724,419.509705,652.200378,536.592102,747.911194,800.388611,871.382446,978.944031,677.455688,...,676.205383,788.567932,654.163330,829.841492,951.750916,1050.827026,1081.680908,704.172302,1236.799194,1600.557495
PY,160.908890,127.721703,-7.487237,205.633896,98.594810,158.448944,221.676849,271.882233,351.860321,235.522736,...,299.978973,221.521835,324.664368,343.569275,382.923218,297.446533,352.957306,-189.291763,472.416443,542.846252
RJ,1529.607178,1709.153442,1528.432983,1757.671021,1824.022461,1962.238037,2106.731445,2134.716064,2609.038574,2583.403320,...,2850.306885,3440.821045,3316.436279,3687.073242,4840.311035,5437.437500,5544.593262,4818.329102,4925.345703,5045.200684
SK,22.288267,-17.619904,-140.680725,84.466423,-60.113739,56.386223,79.284676,97.112648,179.320740,54.507980,...,55.160820,37.533962,32.533504,61.659107,49.922325,80.640594,42.832138,-532.671875,59.005116,89.844131
TG,1821.207275,2057.423340,1526.498657,2148.219482,1794.190308,2019.377319,2550.723877,2726.402832,2378.851074,2615.572754,...,2285.306641,2435.761963,1904.982422,2398.361084,2184.331787,2330.206543,1818.058716,1506.044434,2070.987549,1725.194580
TN,5015.140137,4880.005859,4629.185059,5751.585449,6373.820312,5913.539062,5842.973633,7129.318848,7416.769531,7067.962402,...,7396.270508,7570.583496,7102.727539,8552.680664,8976.435547,8995.740234,8995.504883,8731.485352,8696.296875,8836.862305
TR,195.969528,113.486794,19.124487,175.449356,167.178726,319.847656,315.343994,336.074951,391.192200,309.437927,...,386.174408,294.480194,272.365326,404.740112,450.572540,411.240875,568.158325,-36.308784,621.325378,485.270905
UN,-233.731491,-645.872559,-398.680206,-159.253876,-377.823395,-70.659554,-299.577972,-167.593216,156.252869,55.814213,...,47.404713,-7.342351,6.127644,54.416565,62.708336,-51.662628,58.273743,-667.358032,13.513618,26.142101
UP,3773.225586,3624.245850,3397.129395,3768.114014,3500.262451,3401.372803,3605.781006,3375.725098,3542.149658,3431.877686,...,3771.044678,4210.213867,3806.353760,4201.870605,5200.741211,5741.823242,5786.340820,5212.400879,5251.167969,5976.774414
UT,249.458969,266.785828,121.772499,282.926300,260.126373,401.231140,378.219269,494.452637,748.872742,581.224792,...,714.016052,719.123962,830.464661,874.445374,949.848999,814.874878,1044.923828,398.114410,1003.058533,1361.803223
WB,3018.669922,3372.873535,2895.473389,2947.564209,2851.952393,3455.281982,3211.635254,2838.996338,3630.439453,3011.976318,...,2710.487793,2843.264893,2397.430664,2783.742676,2832.282227,2744.615234,3239.609131,3137.358643,3428.869873,3273.300293

In [133]:
Predictions1 = Predictions.reset_index()

In [134]:
Predictions1=Predictions1.melt(id_vars="State")

In [135]:
Predictions1.to_csv("Multioutput_xgb_fut.csv")

### Multiple XGB in Loop

In [136]:
model=XGBRegressor(n_estimators=200,max_depth=2)

In [137]:
p1=df27.shape

In [138]:
p2=df27.iloc[p1[0]-1]["Date"]

In [139]:

train_data=df27[df27["Date"]>="2020-05-01"]

cols=["Date","State","predict_case"]

Final_Predict=pd.DataFrame(columns=cols)

Final_Predict_hist=Final_Predict

j=-1
for i in Ys:
    p3=p2+pd.DateOffset(days=j)
    train1=train_data[train_data["Date"]<=p3]
    Y=train1[i]
    X=train1.drop(Ys, axis=1)
    X=X.drop(["Date","State"], axis=1)
    model.fit(X,Y)
    
    
    predict_data=df27[df27["Date"]==p2]
    predict_X=predict_data.drop(Ys,axis=1)
    predict_X=predict_X.drop(["Date","State"], axis=1)
    predict_Y=model.predict(predict_X)
    Predictions=pd.DataFrame(data=predict_Y,columns=["predict_case"])
    predict_data.reset_index(inplace=True, drop=True)
    Predictions["State"]=predict_data["State"]
    Predictions["Date"]=predict_data.loc[:,"Date"]+pd.DateOffset(days=-j)
    Predictions=Predictions[cols]
        
    Final_Predict=Final_Predict.append(Predictions)
    
    predict_data1=df27[df27["Date"]=="07-20-2020"]
    predict_X1=predict_data1.drop(Ys,axis=1)
    predict_X1=predict_X1.drop(["Date","State"], axis=1)
    predict_Y1=model.predict(predict_X1)
    Predictions1=pd.DataFrame(data=predict_Y1,columns=["predict_case"])
    predict_data1.reset_index(inplace=True, drop=True)
    Predictions1["State"]=predict_data1["State"]
    Predictions1["Date"]=predict_data1.loc[:,"Date"]+pd.DateOffset(days=-j)
    Predictions1=Predictions1[cols]
        
    Final_Predict_hist=Final_Predict_hist.append(Predictions1)  
    
    j=j-1

[21:44:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:44:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:44:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:45:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:45:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:45:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:45:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:46:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:46:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:46:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:47:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:47:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:47:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:47:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:48:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:48:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:48:41] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:48:56] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:49:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:49:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:49:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [140]:
Final_Predict

         Date State  predict_case
0  2020-07-30    AN      6.024548
1  2020-07-30    AP   8523.401367
2  2020-07-30    AR     46.957001
3  2020-07-30    AS   1327.623169
4  2020-07-30    BR   2467.486816
..        ...   ...           ...
33 2020-08-19    TR    751.749451
34 2020-08-19    UN     60.908642
35 2020-08-19    UP   6576.984863
36 2020-08-19    UT   1609.473511
37 2020-08-19    WB   3242.112305

[798 rows x 3 columns]

In [141]:
Final_Predict_hist

         Date State  predict_case
0  2020-07-21    AN     13.783671
1  2020-07-21    AP   5513.478516
2  2020-07-21    AR     49.696289
3  2020-07-21    AS   1314.137573
4  2020-07-21    BR   1528.200439
..        ...   ...           ...
33 2020-08-10    TR    397.081055
34 2020-08-10    UN     35.663593
35 2020-08-10    UP   4911.714355
36 2020-08-10    UT    542.891357
37 2020-08-10    WB   2333.275635

[798 rows x 3 columns]

In [142]:
Final_Predict.to_csv("multi_xgb_fut.csv")
Final_Predict_hist.to_csv("multi_xgb_hist.csv")